{
  "singleQuote": true,
  "semi": false,
  "printWidth": 120,
  "trailingComma": "none",
  "endOfLine": "lf",
  "bracketSameLine": true,
  "tailwindStylesheet": "./src/renderer/src/assets/styles/tailwind.css",
  "tailwindFunctions": ["clsx"],
  "plugins": ["prettier-plugin-tailwindcss"],
}
